  
  <form action="/store/register/" method="post">
        <input type="text" placeholder="storeName" name="" >
        <input type="text" placeholder="" name="" >
        <input type="text" placeholder="" name="" >
    </form>