  <form action="" method="post">
        <input type="text" placeholder="" name="" >
        <input type="text" placeholder="" name="" >
        <input type="text" placeholder="" name="" >
    </form>