<form action="/auth/owner/login" method="post">

    <input type="text" placeholder="email" name="email" >
    <input type="text" placeholder="password" name="password" >
 
    <button type="submit">Submit</button>
</form>