<form action="/auth/owner/register" method="post">
    <input type="text" placeholder="firstname" name="firstName" >
    <input type="text" placeholder="last name" name="lastName" >
    <input type="text" placeholder="email" name="email" >
    <input type="text" placeholder="password" name="password" >
    <input type="text" placeholder="occu" name="occupation" >
    <input type="text" placeholder="loc" name="location" >
    <button type="submit">Submit</button>
</form>